python-hello-globo/lib
python-hello-globo/bin
python-hello-globo/lib64
python-hello-globo/include
python-hello-globo/pyvenv.cfg
terraform/terraform.*
terraform/.terraform
bucket/terraform/terraform.*
bucket/terraform/.terraform*
terraform/files/access-key.json